*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.swiper {
	/* 相对定位 */
	position:absolute;
    top: 190px;
    right:30px;
	width: 477px;
	height: 267px;
	overflow: hidden;
}
input {
	display: none;
}
label {
	position: absolute;
	bottom: 20px;
	width: 15px;
	height: 15px;
	border: 3px solid #90d9fb;
	border-radius:50% ;
	background-color: #90d9fb;
}
label[for="btn1"] {
	left: 40%;
}
label[for="btn2"] {
	left: 48%;
}
label[for="btn3"] {
	left: 56%;
}
ul {
	/* 让li水平排列 */
	display: flex;
	/* 自动计算宽度 */
	width: calc(477px*3);
	/* 过渡时间 */
	transition: all 0.5s;
}
li {
	list-style-type: none;
}
#btn1:checked ~ ul {
	margin-left: 0;
}
#btn2:checked ~ ul {
	margin-left: -477px;
}
#btn3:checked ~ ul {
	margin-left: calc(-477px * 2);
}
#btn1:checked ~ label[for="btn1"] {
	background-color: rgb(0, 217, 255);
}
#btn2:checked ~ label[for="btn2"] {
	background-color: rgb(0, 217, 255);
}
#btn3:checked ~ label[for="btn3"] {
	background-color: rgb(0, 217, 255);
}
.logo{
    position:absolute;
    left: 20px;
}
.box{
    display: flex;
    justify-content:center;
    align-items:center ;
    position: relative;
}
.header{
    width: 100%;
    text-align:right;
    letter-spacing: 25px;
    margin: 80px 25px;
}
.header a{
    font-size: 20px;
    letter-spacing: 4px;
    color: rgb(0, 0, 0);
    text-decoration: none
}
.header .active{
    cursor: pointer;
    font-size: 25px;
    color: rgb(78, 210, 254);
}
.header a:hover{
    cursor: pointer;
    font-size: 25px;
    color: rgb(187, 241, 241);
}
.topic{
    position:absolute;
    letter-spacing:3px;
    font-size: 20px;
    top:450px;
    right:80px ;
    margin: 15px 10px;
    text-align:right;
    color: rgb(204, 247, 247);
}
.box1{
    letter-spacing: 2px;
    display: flex;
    justify-content:center;
    align-items:center ;
    position: relative;
}
.box1>h2{
    font-size: 40px;
}
.box1>h1:hover{
    color: rgb(255, 255, 255);
}
.box2{
    color: aliceblue;
    display: flex;
    justify-content:center;
    align-items:center ;
    position: relative;
}
.box3{
    letter-spacing: 8px;
    display: flex;
    justify-content:center;
    align-items:center ;
    position: relative;
}
.box3>h2:hover{
    color: aqua;
}

